/*MISC*/
/*colores*/
@import url("https://fonts.googleapis.com/css2?family=Belgrano&family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belgrano&family=Libre+Baskerville&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Libre Baskerville", serif;
  background-color: #037971; }

a {
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  color: #FFFFFF;
  font-family: "Libre Baskerville", serif;
  font-weight: 400; }

ul {
  list-style-type: none;
  background-color: #231f20; }

img {
  width: 100%; }

main {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 3rem; }

h1 {
  font-size: 5.2em;
  font-family: "Belgrano", serif;
  color: #FFFFFF; }

h2 {
  font-size: 2.4em;
  color: #FFFFFF; }

button {
  padding: 0.8em 1.8em;
  border: 2px solid #17c3b2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #17c3b2;
  margin-bottom: 2rem; }

button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17c3b2;
  transition: 0.5s ease;
  display: block;
  z-index: -1; }

button:hover::before {
  width: 105%; }

button:hover {
  color: #111; }

@media screen and (max-width: 879px) {
  .info {
    flex-direction: column;
    padding: 2.4rem; }
  .info__box {
    padding: 2.4rem; } }

@media screen and (max-width: 480px) {
  .cards {
    flex-direction: column; }
  .gallery {
    display: grid;
    /*en todo caso sacar el espacio entre repeat y "("*/
    grid-template-rows: repeat 4, auto;
    gap: 2rem; }
  .gallery__img:nth-last-of-type(6) {
    grid-column: 1 /7; }
  .gallery__img:nth-last-of-type(5) {
    grid-column: 7 / 13; }
  .gallery__img:nth-last-of-type(4) {
    grid-column: 1 / 5;
    grid-row: 2; }
  .gallery__img:nth-last-of-type(3) {
    grid-column: 5 / 9;
    grid-row: 2; }
  .gallery__img:nth-last-of-type(2) {
    grid-column: 9 / 13;
    grid-row: 2 / 4; }
  .gallery__img:nth-last-of-type(1) {
    grid-column: 1 / 9; }
  .tragos {
    gap: 1rem;
    justify-content: center;
    padding: 3rem;
    background-color: #231F20;
    margin-top: 0; }
  .trago__box {
    display: flex;
    flex-direction: row; }
  .trago__box-1 {
    display: flex;
    flex-direction: row-reverse; }
  .trago__info {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #231F20; }
  .trago__title {
    font-family: "Belgrano", serif;
    color: #E41A1A;
    font-size: 2em;
    background-color: inherit; }
  .trago__text {
    color: #FFFFFF;
    font-size: 1.6em;
    background-color: #231F20; } }

/*PARTIALS*/
.footer-container {
  background-color: #231F20;
  padding: 0%;
  width: 100%;
  color: #037971;
  display: flex;
  justify-content: space-around; }
  .footer-container h3 {
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .footer-container h4 {
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .footer-container-column a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    background-color: #231F20; }

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #231F20;
  padding: 2rem 0; }
  header picture {
    flex-basis: 40%;
    background-color: #231F20;
    margin: 0; }
  header img {
    max-width: 150px;
    cursor: pointer; }

nav ul {
  flex-basis: 40%;
  display: flex;
  gap: 2.4rem; }
  nav ul li a {
    font-size: 1.6em;
    transition: all 0.3s ease 0s; }

nav ul li a:hover {
  color: #037971; }

/*VIEWS*/
.tragos {
  gap: 1rem;
  justify-content: center;
  padding: 3rem;
  background-color: #231F20;
  margin-top: 0;
  margin-bottom: 3rem; }
  .tragos__box {
    display: flex;
    flex-direction: row; }
  .tragos__box-1 {
    display: flex;
    flex-direction: row-reverse; }
  .tragos__info {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #231F20; }
  .tragos__title {
    font-family: "Belgrano", serif;
    color: #E41A1A;
    font-size: 2em;
    background-color: inherit; }
  .tragos__text {
    color: #FFFFFF;
    font-size: 1.6em;
    background-color: #231F20; }

.lead {
  text-align: center;
  color: #ffffff;
  font-size: 2.4em; }

.h2 {
  text-align: center;
  color: #FFFFFF;
  font-size: 5.2em;
  margin-bottom: 2.4rem; }

.row {
  margin: 6rem; }

.col {
  margin: 2rem; }

/*VIDEO*/
video {
  width: 100%;
  height: 100%;
  margin-bottom: 2.4rem;
  position: relative; }
  video__title h1 {
    width: 100%;
    height: 100%;
    top: 200px;
    position: absolute;
    margin-left: 3rem; }
  video__title h2 {
    margin-top: 2.4rem;
    margin-left: 2.4rem; }

.cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 3rem; }
  .cards .box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 30%;
    transition: all .3s linear; }
    .cards .box__info {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2.4rem;
      background-color: #231F20; }
    .cards .box__title, .cards .box .box__title--active {
      color: #E41A1A;
      font-size: 2em;
      background-color: inherit; }
    .cards .box__text {
      color: #FFFFFF;
      font-size: 1.6em;
      background-color: #231F20; }
    .cards .box__img {
      overflow: hidden; }
    .cards .box__img img {
      transition: all 1.3s ease; }
    .cards .box .box__img:hover img {
      transform: scale(1.1); }

.cards .box .box__title--active {
  font-style: "Belgrano", serif; }

/*INFO*/
.info {
  display: flex;
  padding: 6rem;
  align-items: center; }
  .info__img {
    flex: 1 1 50%; }
  .info__box {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 6rem; }
  .info__title {
    font-size: 5.2em;
    color: #FFFFFF;
    font-family: "Belgrano", serif; }
  .info__text {
    font-size: 1.6em;
    font-weight: 300;
    color: #FFFFFF; }
  .info__link {
    display: flex;
    align-items: center;
    font-size: 1.4em;
    background-color: #037971;
    color: #231F20; }
    .info__link path {
      color: #037971;
      stroke-width: 5px; }

/*GALLERY*/
.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  margin-inline: 3em; }
  .gallery__img:nth-last-of-type(6) {
    grid-column: 1 / 7; }
  .gallery__img:nth-last-of-type(5) {
    grid-column: 7 / 13; }
  .gallery__img:nth-last-of-type(4) {
    grid-column: 1 / 5;
    grid-row: 2; }
  .gallery__img:nth-last-of-type(3) {
    grid-column: 5 / 9;
    grid-row: 2; }
  .gallery__img:nth-last-of-type(2) {
    grid-column: 9 / 13;
    grid-row: 2 / 4; }
  .gallery__img:nth-last-of-type(1) {
    grid-column: 1 / 9; }

/*EXTERNOS*/
