/*colores*/
$colors: (   
   
    primary: #231F20,
    secondary: #037971,
    text-color: #FFFFFF,
    text-alternative: #E41A1A,

    ); 
 

$spacing-large: 6rem;
$spacing-medium: 3rem;
$spacing-small: 2.4rem;
$spacing-xsmall: 2rem;
$font-principal:"Libre Baskerville", serif;
$font-title:"Belgrano", serif;
$text-large: 5.2em;
$text-medium: 2.4em;
$text-base: 1.6em;
$text-small: 1.4em;
$text-sub: 2em;




